<!-- Projects Section -->
<section class="mt-20 overflow-hidden">
  <div class="container mx-auto">
    <h3 class="text-2xl text-gray-50 font-bold  mb-2">My Project</h3>
    <!-- projects -->
    <div class="flex flex-col">
      <!-- Project 1 -->
      <div class="grid grid-cols-1 items-center md:grid-cols-2 gap-12 my-20">
        <div
          class="relative group overflow-hidden rounded-xl h-2/3 w-full aspect-[3/2] shadow-[0_0_40px_#5b5683] project-box ">
          <img src="images/projects/cars-website.png" alt="Project Screenshot"
            class="absolute top-0 end-0 start-0 transition-transform duration-1000 group-hover:-translate-y-[1800px]" />
        </div>

        <div class="flex flex-col justify-center project-box">
          <h3 class="text-xl text-gray-300 font-bold mb-4">RentCars Project</h3>
          <p class="text-gray-300">
            A modern web landing page for a car rental service.
            Browse popular rental deals, search by car name, and explore step-by-step booking instructions. The layout
            is
            clean, responsive, and optimized for both desktop and mobile users. Users can also download the app directly
            from the page for a seamless car booking experience.
          </p>
          <div class="flex gap-4 mt-6">
            <div class="flex  gap-4 ">
              <a target="_blank" href="https://cars-website-xi.vercel.app/home"
                class="w-8 h-8 bg-[#1A1830] rounded-lg flex items-center justify-center hover:bg-purple-500/20 transition-colors cursor-pointer"><img
                  src="images/icons/link (1).png" class="w-8 h-6 object-contain" alt=""></a>
              <p class="text-white">live Demo</p>
            </div>
            <div class="flex  gap-4">
              <a target="_blank" href="https://github.com/Menna-Ashraf512/Cars-Website.git"
                class="w-8 h-8 bg-[#1A1830] rounded-lg flex items-center justify-center hover:bg-purple-500/20 transition-colors cursor-pointer"><img
                  src="images/icons/github.png" class="w-8 h-6 object-contain" alt=""></a>
              <p class="text-white">repo</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Project 2 -->
      <div class="grid grid-cols-1 items-center md:grid-cols-2 gap-12 my-20">
        <div class="flex flex-col justify-center project-box">
          <h3 class="text-xl text-gray-300 font-bold mb-4">Weather Project</h3>
          <p class="text-gray-300">
            A modern web landing page for a car rental service.
            Browse popular rental deals, search by car name, and explore step-by-step booking instructions. The layout
            is
            clean, responsive, and optimized for both desktop and mobile users. Users can also download the app directly
            from the page for a seamless car booking experience.
          </p>
          <div class="flex gap-4 mt-6">
            <div class="flex  gap-4 ">
              <a target="_blank" href="https://menna-ashraf512.github.io/Weather-API/"
                class="w-8 h-8 bg-[#1A1830] rounded-lg flex items-center justify-center hover:bg-purple-500/20 transition-colors cursor-pointer"><img
                  src="images/icons/link (1).png" class="w-8 h-6 object-contain" alt=""></a>
              <p class="text-white">live Demo</p>
            </div>
            <div class="flex  gap-4">
              <a target="_blank" href="https://github.com/Menna-Ashraf512/Weather-API.git"
                class="w-8 h-8 bg-[#1A1830] rounded-lg flex items-center justify-center hover:bg-purple-500/20 transition-colors cursor-pointer"><img
                  src="images/icons/github.png" class="w-8 h-6 object-contain" alt=""></a>
              <p class="text-white">repo</p>
            </div>
          </div>
        </div>
        <div
          class="relative group overflow-hidden rounded-xl h-2/3 w-full aspect-[3/2] shadow-[0_0_40px_#5b5683] project-box">
          <img src="images/projects/weather-app.png" alt="Project Screenshot"
            class="absolute top-0 end-0 start-0 transition-transform duration-1000 group-hover:-translate-y-48" />
        </div>
      </div>


      <!-- Project 3 -->
      <div class="grid grid-cols-1 items-center md:grid-cols-2 gap-12 my-20">
        <div
          class="relative group overflow-hidden rounded-xl h-2/3 w-full aspect-[3/2] shadow-[0_0_40px_#5b5683] project-box ">
          <img src="images/projects/country-app.png" alt="Project Screenshot"
            class="absolute top-0 end-0 start-0 transition-transform duration-1000 group-hover:-translate-y-[277px]" />
        </div>

        <div class="flex flex-col justify-center project-box">
          <h3 class="text-xl text-gray-300 font-bold mb-4">Country Project</h3>
          <p class="text-gray-300">
            A modern web application for exploring countries around the world. Browse all countries, search by name, and
            filter by region. View detailed country information including capital, population, borders, and flags. The
            layout is clean, responsive, and optimized for both desktop and mobile users. The interface ensures a smooth
            and interactive browsing experience.


          </p>
          <div class="flex gap-4 mt-6">
            <div class="flex  gap-4 ">
              <a target="_blank" href="https://country-app-olive.vercel.app/"
                class="w-8 h-8 bg-[#1A1830] rounded-lg flex items-center justify-center hover:bg-purple-500/20 transition-colors cursor-pointer"><img
                  src="images/icons/link (1).png" class="w-8 h-6 object-contain" alt=""></a>
              <p class="text-white">live Demo</p>
            </div>
            <div class="flex  gap-4">
              <a target="_blank" href="https://github.com/Menna-Ashraf512/country-app.git"
                class="w-8 h-8 bg-[#1A1830] rounded-lg flex items-center justify-center hover:bg-purple-500/20 transition-colors cursor-pointer"><img
                  src="images/icons/github.png" class="w-8 h-6 object-contain" alt=""></a>
              <p class="text-white">repo</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Project 4 -->
      <div class="grid grid-cols-1 items-center md:grid-cols-2 gap-12 my-20">
        <div class="flex flex-col justify-center project-box">
          <h3 class="text-xl text-gray-300 font-bold mb-4">UMS Project</h3>
          <p class="text-gray-300">
            A modern user management system built for seamless authentication and role-based access control. Users can
            log in securely, manage accounts, and navigate a clean, responsive dashboard. The interface supports admins
            and regular users, offering tailored access and dynamic routing. Optimized for desktop and mobile, with a
            focus on usability and performance.


          </p>
          <div class="flex gap-4 mt-6">
            <div class="flex  gap-4 ">
              <a target="_blank" href="https://ums-seven-ivory.vercel.app/"
                class="w-8 h-8 bg-[#1A1830] rounded-lg flex items-center justify-center hover:bg-purple-500/20 transition-colors cursor-pointer"><img
                  src="images/icons/link (1).png" class="w-8 h-6 object-contain" alt=""></a>
              <p class="text-white">live Demo</p>
            </div>
            <div class="flex  gap-4">
              <a target="_blank" href="https://github.com/Menna-Ashraf512/UMS.git"
                class="w-8 h-8 bg-[#1A1830] rounded-lg flex items-center justify-center hover:bg-purple-500/20 transition-colors cursor-pointer"><img
                  src="images/icons/github.png" class="w-8 h-6 object-contain" alt=""></a>
              <p class="text-white">repo</p>
            </div>
          </div>
        </div>
        <div
          class="relative group overflow-hidden rounded-xl h-2/3 w-full aspect-[3/2] shadow-[0_0_40px_#5b5683] project-box">
          <img src="images/projects/ums.png" alt="Project Screenshot"
            class="absolute top-0 end-0 start-0 transition-transform duration-1000 group-hover:-translate-y-28" />
        </div>
      </div>

      <!-- Project 5 -->
      <div class="grid grid-cols-1 items-center md:grid-cols-2 gap-12 my-20">
        <div
          class="relative group overflow-hidden rounded-xl h-2/3 w-full aspect-[3/2] shadow-[0_0_40px_#5b5683] project-box">
          <img src="images/projects/DevFolio.png" alt="Project Screenshot"
            class="absolute top-0 end-0 start-0 transition-transform duration-1000 group-hover:-translate-y-[2168px]" />
        </div>
        <div class="flex flex-col justify-center project-box">
          <h3 class="text-xl text-gray-300 font-bold mb-4">Protfolio landing page</h3>
          <p class="text-gray-300">
            A sleek personal portfolio landing page designed to showcase developer skills, projects, and services.
            Visitors
            can explore work samples, read about professional experience, and get in touch through a built-in contact
            form. The layout is clean, responsive, and optimized for smooth browsing on both desktop and mobile devices.
          </p>
          <div class="flex gap-4 mt-6">
            <div class="flex  gap-4 ">
              <a target="_blank" href="https://menna-ashraf512.github.io/DevFolio/"
                class="w-8 h-8 bg-[#1A1830] rounded-lg flex items-center justify-center hover:bg-purple-500/20 transition-colors cursor-pointer"><img
                  src="images/icons/link (1).png" class="w-8 h-6 object-contain" alt=""></a>
              <p class="text-white">live Demo</p>
            </div>
            <div class="flex  gap-4">
              <a target="_blank" href="https://github.com/Menna-Ashraf512/DevFolio.git"
                class="w-8 h-8 bg-[#1A1830] rounded-lg flex items-center justify-center hover:bg-purple-500/20 transition-colors cursor-pointer"><img
                  src="images/icons/github.png" class="w-8 h-6 object-contain" alt=""></a>
              <p class="text-white">repo</p>
            </div>
          </div>
        </div>

      </div>

      <!-- Project 6 -->
      <div class="grid grid-cols-1 items-center md:grid-cols-2 gap-12 my-20">
        <div class="flex flex-col justify-center project-box">
          <h3 class="text-xl text-gray-300 font-bold mb-4">Protfolio Website</h3>
          <p class="text-gray-300">
            A sleek personal portfolio website designed to showcase developer skills, projects, and services. Visitors
            can explore work samples, read about professional experience, and get in touch through a built-in contact
            form. The layout is clean, responsive, and optimized for smooth browsing on both desktop and mobile devices.
          </p>
          <div class="flex gap-4 mt-6">
            <div class="flex  gap-4 ">
              <a target="_blank" href="https://exam1-orcin.vercel.app/"
                class="w-8 h-8 bg-[#1A1830] rounded-lg flex items-center justify-center hover:bg-purple-500/20 transition-colors cursor-pointer"><img
                  src="images/icons/link (1).png" class="w-8 h-6 object-contain" alt=""></a>
              <p class="text-white">live Demo</p>
            </div>
            <div class="flex  gap-4">
              <a target="_blank" href="https://github.com/Menna-Ashraf512/Exam1.git"
                class="w-8 h-8 bg-[#1A1830] rounded-lg flex items-center justify-center hover:bg-purple-500/20 transition-colors cursor-pointer"><img
                  src="images/icons/github.png" class="w-8 h-6 object-contain" alt=""></a>
              <p class="text-white">repo</p>
            </div>
          </div>
        </div>
        <div
          class="relative group overflow-hidden rounded-xl h-2/3 w-full aspect-[3/2] shadow-[0_0_40px_#5b5683] project-box ">
          <img src="images/projects/portfolio.png" alt="Project Screenshot"
            class="absolute top-0 end-0 start-0 transition-transform duration-1000 group-hover:-translate-y-44" />
        </div>
      </div>



      <!-- Project 7 -->
      <div class="grid grid-cols-1 items-center md:grid-cols-2 gap-12 my-20">
        <div
          class="relative group overflow-hidden rounded-xl h-2/3 w-full aspect-[3/2] shadow-[0_0_40px_#5b5683] project-box ">
          <img src="images/projects/recpie.png" alt="Project Screenshot"
            class="absolute top-0 end-0 start-0 transition-transform duration-1000 group-hover:-translate-y-96" />
        </div>

        <div class="flex flex-col justify-center project-box">
          <h3 class="text-xl text-gray-300 font-bold mb-4">Recipe Website</h3>
          <p class="text-gray-300">
            A modern landing page built using Sass, designed to promote digital services with style. The page highlights
            key features, service details, and client testimonials through a clean and visually appealing layout. Fully
            responsive and optimized for both desktop and mobile devices to ensure a smooth user experience.


          </p>
          <div class="flex gap-4 mt-6">
            <div class="flex  gap-4 ">
              <a target="_blank" href="https://task-sass-oe77.vercel.app/"
                class="w-8 h-8 bg-[#1A1830] rounded-lg flex items-center justify-center hover:bg-purple-500/20 transition-colors cursor-pointer"><img
                  src="images/icons/link (1).png" class="w-8 h-6 object-contain" alt=""></a>
              <p class="text-white">live Demo</p>
            </div>
            <div class="flex  gap-4">
              <a target="_blank" href="https://github.com/Menna-Ashraf512/Task-Sass.git"
                class="w-8 h-8 bg-[#1A1830] rounded-lg flex items-center justify-center hover:bg-purple-500/20 transition-colors cursor-pointer"><img
                  src="images/icons/github.png" class="w-8 h-6 object-contain" alt=""></a>
              <p class="text-white">repo</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Project 8 -->
      <div class="grid grid-cols-1 items-center md:grid-cols-2 gap-12 my-20">
        <div class="flex flex-col justify-center project-box">
          <h3 class="text-xl text-gray-300 font-bold mb-4">Ai Design project</h3>
          <p class="text-gray-300">
            A sleek and modern product landing page for a smart home device. It showcases the product's main features,
            pricing options, and technical specifications in a clean, minimalist layout. The page is fully responsive
            and offers a smooth user experience across all screen sizes, making it ideal for showcasing innovative tech
            products.
          </p>
          <div class="flex gap-4 mt-6">
            <div class="flex  gap-4 ">
              <a target="_blank" href="https://menna-ashraf512.github.io/Aithm/"
                class="w-8 h-8 bg-[#1A1830] rounded-lg flex items-center justify-center hover:bg-purple-500/20 transition-colors cursor-pointer"><img
                  src="images/icons/link (1).png" class="w-8 h-6 object-contain" alt=""></a>
              <p class="text-white">live Demo</p>
            </div>
            <div class="flex  gap-4">
              <a target="_blank" href="https://github.com/Menna-Ashraf512/Aithm.git"
                class="w-8 h-8 bg-[#1A1830] rounded-lg flex items-center justify-center hover:bg-purple-500/20 transition-colors cursor-pointer"><img
                  src="images/icons/github.png" class="w-8 h-6 object-contain" alt=""></a>
              <p class="text-white">repo</p>
            </div>
          </div>
        </div>
        <div
          class="relative group overflow-hidden rounded-xl h-2/3 w-full aspect-[3/2] shadow-[0_0_40px_#5b5683] project-box">
          <img src="images/projects/Aithm.png" alt="Project Screenshot"
            class="absolute top-0 end-0 start-0 transition-transform duration-1000 group-hover:-translate-y-[2800px]" />
        </div>
      </div>



      <!-- Project 9 -->
      <div class="grid grid-cols-1 items-center md:grid-cols-2 gap-12 my-20">
        <div
          class="relative group overflow-hidden rounded-xl h-2/3 w-full aspect-[3/2] shadow-[0_0_40px_#5b5683] project-box ">
          <img src="images/projects/Games.png" alt="Project Screenshot"
            class="absolute top-0 end-0 start-0 transition-transform duration-1000 group-hover:-translate-y-56" />
        </div>

        <div class="flex flex-col justify-center project-box">
          <h3 class="text-xl text-gray-300 font-bold mb-4">Games Project</h3>
          <p class="text-gray-300">
            A games website for an online game hub. Explore a collection of engaging browser games, each presented with
            visual previews and quick access links. The design is colorful, responsive, and crafted to offer a playful
            user experience on both desktop and mobile. Ideal for casual players looking for fun, easy-to-play games in
            one place.


          </p>
          <div class="flex gap-4 mt-6">
            <div class="flex  gap-4 ">
              <a target="_blank" href="https://menna-ashraf512.github.io/Games/"
                class="w-8 h-8 bg-[#1A1830] rounded-lg flex items-center justify-center hover:bg-purple-500/20 transition-colors cursor-pointer"><img
                  src="images/icons/link (1).png" class="w-8 h-6 object-contain" alt=""></a>
              <p class="text-white">live Demo</p>
            </div>
            <div class="flex  gap-4">
              <a target="_blank" href="https://github.com/Menna-Ashraf512/Games.git"
                class="w-8 h-8 bg-[#1A1830] rounded-lg flex items-center justify-center hover:bg-purple-500/20 transition-colors cursor-pointer"><img
                  src="images/icons/github.png" class="w-8 h-6 object-contain" alt=""></a>
              <p class="text-white">repo</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Project 10 -->
      <div class="grid grid-cols-1 items-center md:grid-cols-2 gap-12 my-20">
        <div class="flex flex-col justify-center project-box">
          <h3 class="text-xl text-gray-300 font-bold mb-4">BookMarker Project</h3>
          <p class="text-gray-300">
            A sleek and functional landing page for a bookmark management tool. Users can save, view, and organize their
            favorite websites with ease. The interface is clean, responsive, and optimized for both desktop and mobile
            use. Perfect for anyone who wants a simple way to keep track of important links in one convenient place.


          </p>
          <div class="flex gap-4 mt-6">
            <div class="flex  gap-4 ">
              <a target="_blank" href="https://menna-ashraf512.github.io/BookMarker/"
                class="w-8 h-8 bg-[#1A1830] rounded-lg flex items-center justify-center hover:bg-purple-500/20 transition-colors cursor-pointer"><img
                  src="images/icons/link (1).png" class="w-8 h-6 object-contain" alt=""></a>
              <p class="text-white">live Demo</p>
            </div>
            <div class="flex  gap-4">
              <a target="_blank" href="https://github.com/Menna-Ashraf512/BookMarker.git"
                class="w-8 h-8 bg-[#1A1830] rounded-lg flex items-center justify-center hover:bg-purple-500/20 transition-colors cursor-pointer"><img
                  src="images/icons/github.png" class="w-8 h-6 object-contain" alt=""></a>
              <p class="text-white">repo</p>
            </div>
          </div>
        </div>
        <div
          class="relative group overflow-hidden rounded-xl h-2/3 w-full aspect-[3/2] shadow-[0_0_40px_#5b5683] project-box">
          <img src="images/projects/BookMarker.png" alt="Project Screenshot"
            class="absolute top-0 end-0 start-0 transition-transform duration-1000 group-hover:-translate-y-16" />
        </div>
      </div>
    </div>
  </div>
</section>